/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
}

header {
    background-color: rgba(0, 139, 139);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    width: 75px; /* Ajuste o tamanho da logo conforme necessário */
    border-radius: 35px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ffa500;
}

.redes-sociais {
    display: flex;
    gap: 10px;
}


.redes-sociais a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.redes-sociais a:hover {
    color: #ffa500;
}

.redes-sociais-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.redes-sociais-footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.imagens-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.imagem-container {
    width: 90%; /* Ajuste a largura conforme necessário */
    overflow: hidden;
    border: 5px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.imagem-container.maior {
    width: 80%;
    height: 80vh; /* Ajuste a altura conforme necessário */
}

.imagem-container.menor {
    width: 50%; /* Ajuste a largura conforme necessário */
    display: flex;
    align-items: center;
    position: relative;
}

.imagem-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-lateral {
    padding: 20px;
    flex: 1;
}

.produtos-section {
    padding: 20px;
    flex: 1;
}

.produtos-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.produtos .produto {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 40px); /* Ajusta a largura para três colunas */
}

.produtos .produto img {
    width: 450px;
    height: 500px;
    object-fit: cover;
}

.produtos .produto h3 {
    margin: 15px 0;
}

.produtos .produto p {
    color: #666;
}

.produtos .produto button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.produtos .produto button:hover {
    background-color: #218838;
}


footer {
    background-color: rgba(0, 139, 139);
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}

/* Estilos Responsivos */
@media (max-width: 1024px) {
    .produtos .produto {
        width: calc(50% - 20px); /* Ajusta a largura para duas colunas */
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .redes-sociais {
        margin-top: 10px;
    }

    .redes-sociais a {
        font-size: 24px;
    }

    .redes-sociais-footer {
        margin-top: 10px;
    }
}



@media (max-width: 480px) {
    .imagem-container.maior {
        height: 60vh; /* Ajuste a altura conforme necessário */
    }

    .imagem-container.menor {
        flex-direction: column;
        width: 10px; 
    }}

    .whatsapp-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #25d366;
        color: white;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, transform 0.3s;
        z-index: 1000;
    }
    
    .whatsapp-button:hover {
        background-color: #1ebe57;
        transform: scale(1.1);
    }
    
    .whatsapp-icon {
        width: 30px;
        height: 30px;
    }
    a{
        text-decoration: none;
        color: white;
    }
